*{margin: 0ch;
    padding: 0;
    box-sizing: border-box;
  }
$colorfondo: rgb(241, 247, 247);
$colorpagina: radial-gradient(circle at 51.54% 46.7%, #ffffff 0, #ffffff 12.5%, #ffffff 25%, #ffffff 37.5%, #f9f2f2 50%, #dee3e2 62.5%, #c6d5d3 75%, #b2c9c4 87.5%, #a3bfb6 100%);
$colorletraverde: rgb(114, 142, 114);
@import "header";
@import "footer";
body{
    background-image: $colorpagina;
    max-width: 1000px !important;
    margin:auto;
}
@mixin formtitulo {
    font-family: 'Lato', sans-serif;
    color: rgb(13, 13, 13);
    text-align: center;
    size: 70%;
}
.titulopagina1{
    @include formtitulo;
}
.titulopagina2{
    @include formtitulo;
    font-family: 'Bebas Neue', cursive; 
}
.textoverde{
    color: $colorletraverde;
}

.centrado{
  position: relative;  
  align-items: center;
}
.fotoexp{
    width: 200px;
    height: 200px;
    border-radius: 25%;
}
.primero{
    font-family: 'Playfair Display', serif;
    color: $colorletraverde;
    text-align: justify;
}
.avatar__image{
    border-radius: 50%;
    height: 280px;
    width: 280px;
}
.iconos{
        display:contents;
        height: 280px;
        width: 280px;
}
.iconos img{
    height: 100px;
    width: 100px;
    &:hover{
        transform: translateY(-7px);
    }
}
@mixin contecuerpo{
    width: 90%;
    display:grid;
    grid-row: row;
    grid-template-rows: 1fr;
    
}
@mixin mainexplab{
    background-color: none;
    padding: 1.2rem;
    color: $colorletraverde;
    text-align: justify;
    h2{
        font-family: 'Lato', sans-serif;
    }
    p{
        font-family: 'Bebas Neue', cursive; 
    }   
}

.contenedormain{
    @include contecuerpo;
    grid-template-columns: 2fr 1fr;
    grid-template-areas:
    "main aside";
    .main{
        @include mainexplab;
        grid-area: main;
        
       
    }

    .aside{
        width: 60%;
        height: 70%;
        padding: 1.2rem;
        transition: all 2seg ease;
        border-radius: 25%;
        display:grid;
        grid-area: aside;
        &:hover{
            transform: translateY(-7px);
            border-radius: 0%;
            
        }
    }
    
}
.contenedormain2{
    @include contecuerpo;
    grid-template-columns: 1fr 2fr;
    grid-template-areas:
    "aside2 main2";
    .main2{
        @include mainexplab;
        grid-area: main2;
    }
    .aside2{
        display:grid;
        width: 60%;
        height: 70%;
        border-radius: 25%;
        grid-area: aside2;
        &:hover{
            transform: translateY(17px);
        }
    
    }
}
.contenedormain3{
    @include contecuerpo;
    grid-template-columns: 2fr 1fr;
    grid-template-areas:
    "main3 aside3";
    .main3{
        @include mainexplab;
        grid-area: main3;
    }
    .aside3{
        width: 90%;
        padding: 1.2rem;
        display:grid;
        border-radius: 25%;
        grid-area: aside3;
        &:hover{
          transform: scale(1.2,1.2);
          border-radius: 0%;
        }
    
    }
}
@media screen and (max-width:600px){
    

    .contenedormain{
        grid-template-columns: 1fr;
        grid-template-rows: auto 2fr;
        grid-template-areas: 
      
        "aside"
        "main";
    }
    .contenedormain2{
        grid-template-columns: 1fr;
        grid-template-rows: auto 2fr auto auto;
        grid-template-areas: 
        "aside2"
        "main2";
    }
    .contenedormain3{
        grid-template-columns: 1fr;
        grid-template-rows: auto 2fr auto auto;
        grid-template-areas: 
        "aside3"
        "main3";
    }
    .iconos img{
        height: 70px;
        width: 70px;
        align-items: center;
        &:hover{
            transform: translateY(-7px);
        }
    }
}
.cuerpocontacto{
    padding: 10px;
    
}