*{margin: 0ch;
    padding: 0;
    box-sizing: border-box;
  }
  body{
      background-image: radial-gradient(circle at 51.54% 46.7%, #ffffff 0, #ffffff 12.5%, #ffffff 25%, #ffffff 37.5%, #f9f2f2 50%, #dee3e2 62.5%, #c6d5d3 75%, #b2c9c4 87.5%, #a3bfb6 100%); 
      max-width: 1000px !important;
      margin:auto;
  }
  
  .menu{
      list-style: none;
      margin:auto;
      background-color: rgb(241, 247, 247);
      display: flex;
      justify-content:flex-end;
      padding: 12px;
  }
  .menu li{
      text-align: center;
      margin: 10px;
      padding: 10px;
  }
  .menu li a{
      text-decoration: none;
      background-color: white;
      color: rgb(7, 7, 7);
      padding: 10px;
      font-family: 'Oswald', sans-serif;
      font-size: large;
      align-items: center;
  
  }
  .menu li:hover{
      background-color: none;
      transform: translateY(-7px);
      
  }
  .menu li a:hover{
      color:rgb(14, 14, 14);
      text-decoration: double;
      font-style:oblique;
  }
  .fotoprompt{
      display: flex;
      position: absolute;
      margin-top: 25px;
      width: 50px;
      height: 45px;
      margin-left: 5ch;
      border-radius: 25%;
      background-color: rgb(241, 247, 247);
  }
  
  .primero{
      background-color: rgb(220, 240, 245);
      width: 400px;
      height: 650px;
      margin: 5px 10px 12px 50px;
      font-size: 20px;
      font-family: 'Oswald', sans-serif;
      overflow: auto;
      border: 25px #5f0a87;
      padding: 25;
      
  }
  
  .quiensoy{
      font-family: 'Bebas Neue', cursive;
      color: rgb(13, 13, 13);
      position: absolute;
      margin: 30px 135px;
      background-color: none;
  }
  
  .titulopagina{
      font-family: 'Lato', sans-serif;
      color: rgb(13, 13, 13);
      text-align: center
  }
  
  .form{
      color: rgb(7, 19, 21);
      display: flex;
      font-family: 'Oswald', sans-serif;
      justify-content:flex-start;
      position: relative;
      left: 1.5cm;
      
  }
  
  .botonform{
      color: rgb(7, 19, 21);
      display: flex;
      font-family: 'Oswald', sans-serif;
      justify-content:flex-start;
      position: relative;
      left: 1.5cm;
      margin: 10px;
      border: 20px;
  }
  .avatar{
      height: 64px;
      width: 64px;
  }
  
  .avatar__image {
      border-radius: 50%;
      height: 280px;
      width: 280px;
      position: relative;
      top: 130px;
      left: 600px;
      
  }
  
  .iconos{
      display: flex;
      justify-content:space-around;
      position: relative;
      top: -300px;
      left: 600px;
      height: 280px;
      width: 280px;
  }
  .iconos img{
      height: 100px;
      width: 100px;
  }
  
  
  .contenedorvar{
      margin: auto;
      width: 90%;
      background-color: rgb(241, 247, 247);
      display: grid;
      grid-template-columns: 1fr  2fr;
      grid-template-rows: auto 1fr auto;
      grid-template-areas:
      "logo header";
     
  }
  .contenedormain{
      width: 90%;
      display:grid;
      grid-row: row;
      grid-template-columns: 2fr 1fr;
      grid-template-rows: 1fr;
      grid-template-areas:
      "main aside";
       
     
  }
  .contenedormain2{
      width: 90%;
      display:grid;
      grid-row: row;
      grid-template-columns: 1fr 2fr;
      grid-template-rows: 1fr;
      grid-template-areas:
      "aside2 main2";
  }
  .contenedormain3{
      width: 90%;
      display:grid;
      grid-row: row;
      grid-template-columns: 2fr 1fr;
      grid-template-rows: 1fr;
      grid-template-areas:
      "main3 aside3";
  }
  .contenedorfooter{
      margin: auto;
      width: 90%;
      display: grid;
      grid-template-columns: 3fr;
      grid-template-rows: auto 1fr auto;
      grid-template-areas:
      "Gridfooter"
      
     
  }
  .logo{
      display: flex;
      position: absolute;
      margin-top: 25px;
      width: 50px;
      height: 45px;
      margin-left: 5ch;
      border-radius: 25%;
      grid-area: logo;
      background-color: rgb(241, 247, 247);
  }
  
  .header{
      display: grid;
      grid-area: header;
     
      
  }    
  .header nav{
      margin:auto;
      display: grid;
      flex-wrap: nowrap;
      
      
  }
  .header nav lu{
      display: flex;
      flex-direction: row;
  }
  .header nav li{
      display: inline-block;
      margin: 10px;
      padding: 10px;
      
      
  }
  .header nav li a{
      text-decoration: none;
      background-color: white;
      color: rgb(7, 7, 7);
      padding: 10px;
      font-family: 'Oswald', sans-serif;
      font-size: large;
      display: grid;
      flex-wrap: nowrap;
  }
  .header nav li:hover{
      background-color: none;
      transform: translateY(-7px);
  }
  .header nav li a:hover{
      color:rgb(14, 14, 14);
      text-decoration: double;
      font-style:oblique;
  }
  
  .main{
      background-color: none;
      padding: 1.2rem;
      grid-area: main;
      
  }
  .main h2{
      font-family: 'Oswald', sans-serif;
  }
  .aside{
      width: 90%;
      height: 100%;
      padding: 1.2rem;
      transition: all 2seg ease;
      border-radius: 25%;
      display:grid;
      grid-area: aside;
     
  }
  .aside :hover{
      border-radius: 0%;
      width: 110%;
      height: 120%;
  }
  .main2{
      background-color: none;
      padding: 1.2rem;
      grid-area: main2;
      
  }
  .main2 h2{
      font-family: 'Oswald', sans-serif;
  }
  
  .aside2{
      
      display:grid;
      border-radius: 25%;
      grid-area: aside2;
  }
  .aside2 :hover{
      transform: translateY(17px);
  }
  .main3{
      background-color: none;
      padding: 1.2rem;
      grid-area: main3;
      
  }
  .main3 h2{
      font-family: 'Oswald', sans-serif;
  }
  .aside3{
      width: 90%;
      padding: 1.2rem;
      display:grid;
      border-radius: 25%;
      grid-area: aside3;
  }
  .aside3 :hover{
      transform: scale(1.2,1.2);
      border-radius: 0%;
  }
  .fotoexp{
      width: 200px;
      height: 200px;
      border-radius: 25%;
  }
  .gridfooter{
      padding: 1.2rem;
      grid-area: gridfooter;
      display: flex;
  }
  
  .footer{
      margin-top:50px;
      font-size: 15px;
      font-family: 'Oswald', sans-serif;
      text-align: center;
      
  }
  @media screen and (max-width:600px){
      .contenedorvar{
          height: 325px;
          margin: -10px;
          padding: -10px;
          flex-wrap: wrap;
          grid-template-columns: 1fr 1fr;
          grid-template-rows: auto 1fr auto;
          grid-template-areas:
          "logo header";
                               
      }
  
      .contenedormain{
          grid-template-columns: 1fr;
          grid-template-rows: auto 2fr auto auto;
          grid-template-areas: 
          "contenedorvar"
          "aside"
          "main"
      }
      .contenedormain2{
          grid-template-columns: 1fr;
          grid-template-rows: auto 2fr auto auto;
          grid-template-areas: 
          "contenedorvar"
          "aside2"
          "main2" 
      }
      .contenedormain3{
          grid-template-columns: 1fr;
          grid-template-rows: auto 2fr auto auto;
          grid-template-areas: 
          "contenedorvar"
          "aside3"
          "main3" 
      }
      
  }