*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: radial-gradient(circle at 51.54% 46.7%, #ffffff 0, #ffffff 12.5%, #ffffff 25%, #ffffff 37.5%, #f9f2f2 50%, #dee3e2 62.5%, #c6d5d3 75%, #b2c9c4 87.5%, #a3bfb6 100%); 
    margin:auto;
}
.contenedorvar{
    margin: auto;
    width: 90%;
    background-color: rgb(241, 247, 247);
    display: grid;
    grid-template-columns: 1fr  2fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
    "logo header"
    /*"pagina pagina"*/;
   
}
.contenedormain{
    width: 90%;
    display:grid;
    grid-row: row;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
    "main aside";
     
   
}
.contenedormain2{
    width: 90%;
    display:grid;
    grid-row: row;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    grid-template-areas:
    "aside2 main2";
}
.contenedormain3{
    width: 90%;
    display:grid;
    grid-row: row;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
    "main3 aside3";
}
.contenedorfooter{
    margin: auto;
    width: 90%;
    display: grid;
    grid-template-columns: 3fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
    "footer"
    
   
}
.logo{
    display: flex;
    position: absolute;
    margin-top: 25px;
    width: 50px;
    height: 45px;
    margin-left: 5ch;
    border-radius: 25%;
    grid-area: logo;
}
.header{
    display: grid;
    grid-area: header;
   
    
}    
.header nav{
    margin:auto;
    display: grid;
    flex-wrap: nowrap;
    
    
}
.header nav lu{
    display: flex;
    flex-direction: row;
}
.header nav li{
    display: inline-block;
    margin: 10px;
    padding: 10px;
    
    
}
.header nav li a{
    text-decoration: none;
    background-color: white;
    color: rgb(7, 7, 7);
    padding: 10px;
    font-family: 'Oswald', sans-serif;
    font-size: large;
    display: grid;
    flex-wrap: nowrap;
}
.header nav li:hover{
    background-color: none;
    transform: translateY(-7px);
}
.header nav li a:hover{
    color:rgb(14, 14, 14);
    text-decoration: double;
    font-style:oblique;
}

.main{
    background-color: none;
    padding: 1.2rem;
    grid-area: main;
    
}
.main h2{
    font-family: 'Oswald', sans-serif;
}
.aside{
    width: 90%;
    height: 100%;
    padding: 1.2rem;
    transition: all 2seg ease;
    border-radius: 25%;
    display:grid;
    grid-area: aside;
   
}
.aside :hover{
    border-radius: 0%;
    width: 110%;
    height: 120%;
}
.main2{
    background-color: none;
    padding: 1.2rem;
    grid-area: main2;
    
}
.main2 h2{
    font-family: 'Oswald', sans-serif;
}

.aside2{
    
    display:grid;
    border-radius: 25%;
    grid-area: aside2;
}
.aside2 :hover{
    transform: translateY(17px);
}
.main3{
    background-color: none;
    padding: 1.2rem;
    grid-area: main3;
    
}
.main3 h2{
    font-family: 'Oswald', sans-serif;
}
.aside3{
    width: 90%;
    padding: 1.2rem;
    display:grid;
    border-radius: 25%;
    grid-area: aside3;
}
.aside3 :hover{
    transform: scale(1.2,1.2);
    border-radius: 0%;
}
.fotoexp{
    width: 200px;
    height: 200px;
    border-radius: 25%;
}

.footer{
    background-color: rgb(241, 247, 247);
    padding: 1.2rem;
    grid-area: footer;
    display: flex;
}
@media screen and (max-width:600px){
    .contenedorvar{
        height: 325px;
        margin: -10px;
        padding: -10px;
        flex-wrap: wrap;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto 1fr auto;
        grid-template-areas:
        "logo header";
                             
    }

    .contenedormain{
        grid-template-columns: 1fr;
        grid-template-rows: auto 2fr auto auto;
        grid-template-areas: 
        "contenedorvar"
        "aside"
        "main"
    }
    .contenedormain2{
        grid-template-columns: 1fr;
        grid-template-rows: auto 2fr auto auto;
        grid-template-areas: 
        "contenedorvar"
        "aside2"
        "main2" 
    }
    .contenedormain3{
        grid-template-columns: 1fr;
        grid-template-rows: auto 2fr auto auto;
        grid-template-areas: 
        "contenedorvar"
        "aside3"
        "main3" 
    }
    .footer{
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr auto;
        grid-template-areas: 
        "contenedorvar"
        "aside2"
        "main2"
        
        
    }
    
}